allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init pstorefs:dir mounton;
allow init sysfs_graphics:file { setattr w_file_perms };

allow init {
    sysfs_batteryinfo
}:file setattr;

allow init debugfs:dir mounton;
allow init default_android_service:service_manager add;
allow init hal_authsecret_hwservice:hwservice_manager { add find };
allow init hal_drm_hwservice:hwservice_manager { add find };
allow init hal_fingerprint_hwservice:hwservice_manager { add find };
allow init hal_gatekeeper_hwservice:hwservice_manager { add find };
allow init hal_sensors_hwservice:hwservice_manager { add find };
allow init hidl_base_hwservice:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init ion_device:chr_file { ioctl read };
allow init servicemanager:binder { call transfer };
allow init shell_exec:file execute_no_trans;
allow init sysfs:file { open read setattr write };
allow init sysfs_leds:lnk_file read;
allow init sysfs_sensors:lnk_file read;
allow init system_file:file execute_no_trans;
allow init tee_device:chr_file { ioctl open read write };
allow init vendor_file:file execute_no_trans;
allow init ion_device:chr_file open;
allow init system_file:dir mounton;
allow init vendor_configs_file:file relabelfrom;
allow init vendor_file:file relabelfrom;

