allow zygote system_file:dir mounton;
allow zygote bluetooth_prop:file { getattr open read };
allow zygote exported_camera_prop:file { getattr open read };
allow zygote proc_cmdline:file { getattr open read };
allow zygote media_rw_data_file:file getattr;
